.idea
.venv
__pycache__/
*.py[cod]

# Playwright / test artifacts
test-results/
playwright-report/
allure-results/
allure-report/
.pytest_cache/
assets

# env & secrets
.env

# OS
.DS_Store

# logs
*.log

report.html